.typing {
    width: 5em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #c6c6c6;
    border-radius: 20px;
  }
  
  .typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 0.8s infinite;
  }
  
  .typing__dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .typing__dot:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .typing__dot:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  @keyframes loadingFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }
  
  .typing-active .typing__dot {
    opacity: 1;
  }
  
  