# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Python virtual environment
venv/
env/
.venv/
.env/

# Ignore compiled Python files
*.pyc

# Ignore cache and log files
__pycache__/
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
logs/
